@import 'reset.scss';

$light-grey: #fafafa;
$dark-grey: #37393A;
$pink: #ffd9df;
$input-grey: #E8EEF2;
$border-grey: #C7D3DD;
$red: #DE1A1A;

body {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  background: $dark-grey;
  font-size: 16px;

  .app {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 100vh;

    .app-side {
      box-sizing: border-box;
      border: 1px solid black;
      height: 100vh;
      flex: 1;
      background: $input-grey;
      // padding: 10px;

      .side {
        margin: 10px;
        // color: white;
        h4 {
          border-bottom: 1px solid black;
          padding: 10px 0px;
        }

        div {
          height: 20vh;
        }
      }
    }

    .app-main {
      box-sizing: border-box;
      display: flex;
      flex: 3;
      flex-direction: column;
      // width: 340px;
      // background: $light-grey;
      // border-radius: 25px;
      height: 100vh;
      justify-content: center;
      // padding: 10px;

      .app-container {
        // margin: 8px 8px;
        height: 100vh;
        background: white;
        border-radius: 2px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 20px;

        .chat-main {
          display: flex;
          flex-direction: column;

          h4 {
           padding-bottom: 10px;
           margin: 0px auto;
         }

         .message-list-container {
           overflow-y: scroll;

           #message-list {
             display: flex;
             flex-direction: column;

             .ai {
               background-color: $pink;
               padding: 10px;
               border-radius: 4px;
               margin-bottom: 10px;
               width: 70%;
               max-width: 500px;
               overflow: hidden;
             }

              .you {
                background-color: $input-grey;
                padding: 10px;
                border-radius: 4px;
                margin-bottom: 10px;
                width: 50%;
                max-width: 500px;
                align-self: flex-end;
              }
           }
         }
        }


        .chat-bottom {
          display: flex;
          flex-direction: column;
          min-height: 45px;
          margin-top: 10px;

          .loading {

            #ai-loading {
              background-color: $pink;
              padding: 10px 20px;
              border-radius: 4px;
              margin-bottom: 10px;
              width: 30px;
              max-width: 500px;
              overflow: hidden;
            }
          }

          .input-area {
            display: flex;
            justify-content: space-around;

            form {
              width: 100%;
              margin-right: 10px;

              input {
                background: #E8EEF2;
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                padding: 0px 15px;
                border-radius: 4px;
                border: 1px solid #C7D3DD;
              }
            }
          }

          button {
            /* padding: 1.2em 2em; */
            padding: 10px 30px;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            user-select: none;
            color: white;
            /* background: linear-gradient(135deg, #6e8efb, #a777e3); */
            border-radius: 4px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
            background: #DE1A1A;
            /* transition: 0.5s background; */
          }

          button:hover {
            background: black;
          }
        }

      }
    }
  }
}


@media only screen and (max-width: 900px) {
  .app-side {
    display: none;
  }

  .app-main {
    height: 100vh;
  }
}
